# Ignore all root items
/*

# Ignore root dotfiles/folders
/.*

# Unignore the specific folders you want
!/kitty/
!/nvim/
!/hypr/
!/waybar/
!/fuzzel
!/hypr-network-manager

# Unignore .gitignore itself
!.gitignore
